#rig {
    max-width: 900px;
    margin: 0 auto; /*center aligned*/
    padding: 0;
    font-size: 0; /* Remember to change it back to normal font size if have captions */
    list-style: none;
    background-color: none;
}

#rig li {
    display: inline-block;
    *display: inline; /*for IE6 - IE7*/
    width: 25%;
    vertical-align: middle;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* The wrapper for each item */
.rig-cell {
    margin: 12px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    padding: 16px;
    border: none;
    color: #555;
    background-color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    position: relative;
}

h3 {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: normal;
}

span {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: normal;
}

/*#rig li:hover .rig-overlay {*/
/*opacity: 0.5;*/
/*}*/

@media (max-width: 9000px) {
    #rig li {
        width: 25%;
    }
}

@media (max-width: 800px) {
    #rig li {
        width: 33.33%;
    }
}

@media (max-width: 500px) {
    #rig li {
        width: 50%;
    }
}

@media (max-width: 350px) {
    #rig li {
        width: 100%;
    }
}